body, html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color:#667;
}


.nav_left{
  padding-left: 100px;
}

.nav_right{
padding-right: 100px;
}

.pad_left{
padding-left: 10px;
}

.pad_right{
padding-right: 10px;
}

.pad_top{
  margin-top: 50px;
  align-items: center;
}

.top{
  padding-top: 50px;
}

.center{
  align-items: center;
  text-align: center;
  align-content: center;

}

.img{
  padding-top: 100px;
}

.ptext {
  font-family: Montserrat;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
  font-size: 40px;
  letter-spacing: 8px;
  color: #FFF;
  padding-top: 20px;
}
.block {
  height: 600px;
  background-color: #79a3b1;
}

.block2{
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
}
.row2 {
  padding-top: 50px;
}

/* about me css */

.about{
  text-align: center;
  margin-top: -50px;
  color: #fff;
}


.blue{
  padding-top: 100px;
  width: 100%;
}

.sizing{
  font-size: 20px;
}

.me{
  padding-right: 30px;
}

.to{
  padding-left: 30px;
}

.top1{
  padding-top: 130px;
}

.bottom{
  padding-bottom: 60px;
}

footer{
  /* position: absolute; */
  bottom: 0;
  background-color: #79a3b1;
  width:100%;
  color:white;
  text-align: center;
  padding: 16px;
  padding-top: 20px;
  padding-bottom: 100px;
  height: 80px;
  margin-bottom: -30px;
}

.botm{
  padding-left: 10px;
  padding-right: 10px
}

.impg{
  padding-top: 20px;
}

/* .pimg1{
  position: relative;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

.pimg1{
  background-image: url('../pimg1.jpg');
  height: 700px;
}



  padding:20px;

} */
